##### CLIENT #####
CLIENT_HOST=http://localhost:3000

##### MONGO #####
MONGO_API=mongodb://localhost:27017/todoList

##### AUTH #####
AUTH_PASS_PREFIX=Ecf%0L7gGYuidTU1vo!KhCsu
AUTH_PASS_SALT_ROUNDS=11
AUTH_JWT_SECRET=FWFvdeed8FFIUHV89fehjtF8UF9fwe
AUTH_JWT_EXP=1000m
AUTH_REFRESH_TOKEN_SIZE=32
AUTH_REFRESH_TOKEN_EXP=2592000000
